.simpleForm1 {
    padding-right: 8%;
    padding-top: 0rem;
}

.simpleForm1 .sapUiFormResGrid>div {
    padding: 0 0;
}

.mainPage.sapMFlexBox {
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

.emailConfigSection.sapMFlexBox {
    margin-bottom: 0.5rem;
    border: 1px solid lightgrey;
}

.emailConfigTitle .sapMFlexItemAlignAuto {
    align-self: center;
}

.emailConfigTitle {
    margin: 0.5rem 0 0 1rem;
}

.durationTitle .sapMFlexItemAlignAuto {
    align-self: center;
}

.emailConfigBox {
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: #d8daeb;
}

.MailTemplate {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    width: 100%;
    background-color: #d8daeb;
}

.ocrRadioBtnClass {
    margin-left: 8%;
}

.textAreaBox .sapMFlexItem {
    width: 100%;

}

.sapMListTbl {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.sapMPanelWrappingDiv {
    border: 1px solid lightgray;
}

.borderlessBox .sapMInputBaseContentWrapper {
    border: none;
}

.sapMTableTH {
    background-color: #d8daeb;

}

.TaskPage.sapMPage .sapMPageHeader {
    background-color: #0053A7 !important;
}

.TaskPage .sapMIBar-CTX .sapMTitle {
    color: #fff;
    font-size: larger;
}

.sapUiSizeCompact .sapMBtn {
    height: 2.000rem;
    padding: 0.1875rem 0.2rem;
}

/*FD*/

.salesReportHdrBoxClass {
    border: 1px solid gainsboro;
    background: #fff;
    margin: 2%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 5px;
    margin-top: 15px;
    width: auto !important;
}

.tabClass {
    background: #D0E5DE;
    padding-left: 20px;
}

.salesReportFBCLass .sapMBtnInner {
    font-family: Open Sans !important;
}

.salesReportFBCLass .sapMLabel {
    font-family: Open Sans !important;
    font-weight: bold;
}

.salesReportFBCLass .sapMInputBaseInner {
    font-family: Open Sans !important;
}

.salesReportFBCLass .sapUiCal {
    font-family: Open Sans !important;
}

/*FD*/
.gridContainer {
    display: grid;
    height: "100%";
    width: "100%";
    grid-template-columns: 1fr 16fr;
    grid-template-areas: "nav main";
    position: relative;
}



.sideNav {
    grid-area: nav;
    width: 96px;
    background-color: #0053A7;
    justify-content: normal;
    align-items: normal;
    height: 93vh;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.sideNavItems .sapUiIcon {
    cursor: default;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    font-size: 2rem;
}



.sideNavItems {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    /*font-size: 1em;*/
    align-Items: normal;
    width: -webkit-fill-available;

}



.sideNavItems .sapMLabel {
    color: white;
}



.sideNavItemSelected {
    color: white;
    background-color: #214265;
}



.sideNavItemSelected .sapMLabel {
    color: white;
}



.navContainer {
    /*background-color: yellow;*/
    /*height: 90vh; old*/
    height: 93vh;
    margin: 9px;
    width: calc(100% - 10px) !important;
}



.navContainer.sapMNav {
    border-radius: 8px;
}

.sapMITB {
    position: relative;
    width: 100%;
}

.navContainerPage {
    background-color: white;
    /*padding:8px;*/
}

.sapMIBar.sapMHeader-CTX {
    color: #32363a;
    background-color: #0053a7 !important;
    filter: none;
    background-image: none;
}

.sapMBar {
    display: block;
    width: 100%;
    text-shadow: none;
    box-shadow: none !important;
    background-color: #0053a7 !important;
    ;
}

.sapMIBar-CTX .sapMLabel {
    color: #ffffff;
}

.sapMIBar-CTX .sapMTitle {
    color: #ffffff;
    text-shadow: none;
}

.sapMTBStandard {
    border-bottom: none;
}

/*.UserIcon:not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon,*/
/*:not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,*/
/*:not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {*/
/*    color: #ffffff;*/
/*}*/

.IconTabBG .sapMITBContent {
    padding: 1rem;
    position: relative;
    background-color: white;
}

.GridBG {
    background-color: white;
}

.simpleForm1 {
    padding-right: 8%;
    padding-top: 0rem;
}

.simpleForm1 .sapUiFormResGrid>div {
    padding: 0 0;
}

.mainPage.sapMFlexBox {
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

.emailConfigSection.sapMFlexBox {
    margin-bottom: 0.5rem;
    border: 1px solid lightgrey;
}

.emailConfigTitle .sapMFlexItemAlignAuto {
    align-self: center;
}

.emailConfigTitle {
    margin: 0.5rem 0 0 1rem;
}

.durationTitle .sapMFlexItemAlignAuto {
    align-self: center;
}

.emailConfigBox {
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: #d8daeb;
}

.MailTemplate {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    width: 100%;
    background-color: #d8daeb;
}

.labelwrapTable .sapMListTbl .sapMText,
.sapMListTbl .sapMLabel {
    font-size: .875rem;
    color: #32363a;
    white-space: pre-wrap;
    font-weight: normal;
}

/* Enter your custom styles here */

:root {
    --primary-color: #00499c;
    /*Added by PS*/
    --inputFill-color: #f9f9f9;
    --navBar: #00499c;
    --primary-BG: #eaeaec;
    --white: #ffffff;
    --primary-button: #00499c;
    --secondary-button: #c5d0df;
    --label: #4f4f4f;
    --font-family: 'Roboto', sans-serif;

    --filterBox-BG: #e6edf5;
    --secondary-btn-BG: #d5e0ee;
    --secondary-btn-BG-hs: rgba(213, 224, 238, 255);
    --secondary-btn-color: #4980b9;
    --page-BG: #eaeaec;

    --input-border: #dadde1;

    --grey-1: #f9f9f9;
    --grey-2: #e6e6e6;
}

.page {
    background-color: var(--page-BG);
}

/*Purchase Order View*/
.filterBox {
    background: var(--filterBox-BG);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
}

.filterBox .sapMPanelWrappingDiv {
    border-bottom: none;
}

.filterInput .sapMInputBaseContentWrapper {
    /*border: 1px solid var(--gray-4);*/
    background-color: var(--inputFill-color);
    border-color: var(--input-border);
    border-radius: 5px;

}

.filterInput .sapMFocus .sapMInputBaseContentWrapper {
    outline: none;
    /*border: 1px solid rgba(var(--primary-color), 1) !important;*/
}

/* Primary Button */
.PrimaryBtn .sapMBtnInner {
    border-radius: 5px;
    border: none;
    background-color: var(--primary-button);
}

.PrimaryBtn .sapMBtnContent {
    color: var(--white);
    font-size: .875rem;
    font-family: var(--font-family);
}

.PrimaryBtn .sapMBtnIcon {
    color: var(--white);
}

.PrimaryBtn .sapMBtnActive .sapMBtnIcon {
    color: var(--white);
}

.PrimaryBtn:not(.sapMBtnDisabled).sapMBtn:hover>.sapMBtnInner {
    background-color: var(--primary-button);
}

/*Secondary Button*/

.SecondaryBtn .sapMBtnInner {
    border-radius: 5px;
    border: 1px solid rgba(var(--primary-color), 1);
    background-color: var(--secondary-btn-BG);
}

.SecondaryBtn .sapMBtnContent {
    color: rgba(var(--primary-button), 1);
    font-family: var(--font-family);
}

.SecondaryBtn .sapMBtnIcon {
    color: rgba(var(--primary-button), 1);
}

.SecondaryBtn .sapMBtnActive .sapMBtnIcon {
    color: var(--secondary-btn-BG);
}

.SecondaryBtn:not(.sapMBtnDisabled).sapMBtn:hover>.sapMBtnInner {
    background-color: var(--secondary-btn-BG-hs);
    border: 1px solid var(--secondary-btn-BG-hs);
}

.SecondaryBtn:not(.sapMBtnDisabled).sapMBtn:hover .sapMBtnContent {
    color: rgba(var(--primary-button), 1);
}

.SecondaryBtn:not(.sapMBtnDisabled).sapMBtn:hover .sapMBtnIcon {
    color: rgba(var(--primary-button), 1);
}

/*Table Content*/
.tableBox {
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
}

.MNBTable .sapMTableTH {
    background: var(--filterBox-BG);
}

.MNBTable .sapMListTbl {
    border-radius: 0.3rem !important;
    border: .0625rem solid #ddd;
}

.MNBTable .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td:not(.sapMListTblDummyCell),
.sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td:not(.sapMListTblDummyCell) {
    border-bottom: none !important;
}

.MNBTable .sapMTBStandard {
    border-bottom: none !important;
}

.MNBTable .sapMListTblCell>.sapMText {
    color: var(--gray-8) !important;
    font-family: var(--font-family);
    font-weight: normal !important;
    font-size: 0.875rem !important;
}

.MNBTable .sapMColumnHeader>.sapMLabel {
    font-family: var(--font-family) !important;
    font-size: 0.875rem !important;
}


/*search bar */
.MNBSearch .sapMSFF {
    background-color: var(--grey-1);
    border: 1px solid var(--grey-2);
    border-radius: 5px;
}


.pdfViewClass .sapUiLoSplitterH.sapUiLoSplitter .sapUiLoSplitterContent {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    height: 30rem;
}

.nonPOHeader {
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #9999;
}

.headerTitle {
    font-weight: bold;
}

.btnEmphasized span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none;
    background-color: #00499c;
    border-color: #00499c;
    color: #fff;
    text-shadow: 0 0 0.125rem transparent;
}



/*Pagination class*/
.pagingLabel.sapMLabel {
    padding-top: .15rem;
    font-size: .775rem
}

.pageNumberDivClass {
    height: 3rem;
    background: #fff;
    border-top: 1px solid #dff1ff;
    padding-top: 2rem !important;
    width: -webkit-fill-available;
}

.pagingText.sapMText {
    font-size: .775rem
}

.pageLinkClass {
    top: -1rem
}

.navigateButtonClass {
    padding-top: .7rem !important
}

.paginationNumbers {
    width: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem
}

/*to adjust the width of popover suggestions*/
.glaccount, .sapMPopoverCont {
    width: auto !important;
}
